@using StokProject.Models.Entity;
@model List<Musteriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("Index","Musteri",FormMethod.Get))
{
    <p>
        Aranacak Müşteri Adı: @Html.TextBox("ara")
        <input type="submit" value="Ara"/>
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <td>@musteri.Id</td>
                <td>@musteri.Ad</td>
                <td>@musteri.Soyad</td>
                <td><a class="btn btn-danger" href="/Musteri/Sil/@musteri.Id">Sil</a></td>
                <td><a class="btn btn-warning" href="/Musteri/Guncelle/@musteri.Id">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="/Musteri/Ekle">Yeni Müşteri Ekle</a>