@using StokProject.Models.Entity;
@model List<Kategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var kategori in Model)
        {
        <tr>
            <td>@kategori.Id</td>
            <td>@kategori.Ad</td>
            <td><a class="btn btn-danger" href="/Kategori/Sil/@kategori.Id">Sil</a></td>
            <td><a class="btn btn-warning" href="/Kategori/Guncelle/@kategori.Id">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="/Kategori/Ekle">Yeni Kategori Ekle</a>